html{ 
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    background: var(--background-primary);
    color:white;
    /* font-family:Segoe UI; */
    font-family: var(--text);
}

.sidebar{
    width:260px;
    height:100vh;

    background:#08112100;
    /* background-image: url(../images/fundo-galaxia.jpg); */
    border-right:1px solid #263552;

    position:fixed;
}

.main{
    margin-left:260px;
    flex:1;
    width:100%;
}

header{
    height:64px;
    background:#101a2ef7;
    border-bottom:1px solid #263552;

    display:flex;
    justify-content:space-between;
    align-items:center;
    
    padding:0 24px;

    position:fixed;
    top:0;
    left: 260px;
    right: 0;

    z-index:1000;
}

.logo{
    padding:24px;
}

.logo-icon{
    width:40px;
    height:40px;

    background:#4DA6FF;

    color:#050B1A;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:bold;
}

nav{
    display:flex;
    flex-direction:column;
    padding:20px;
}

nav a{
    color:#A8B3CC;
    text-decoration:none;
    padding:12px;
    border-radius:6px;
    margin-bottom: 10px;

    transition: all ease 0.5s;
}

nav a:hover{
    background:#18233B;
    color:white;
    transform: scale(1.05);
}

.status{
    color:#35D07F;
}

.inicio{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
   
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:80px 10%;
    background:  linear-gradient(
            rgba(0,0,0,0.4),
            #030e25
            ),
            url('../images/fundo-galaxia.jpg');
}

.astrolab {
    width: 500px;
}

.subtitulo{
    font-size:22px;
    max-width:900px;
    margin:auto;
}

.conteudo{
    background:rgba(255,255,255,.03);
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:30px;
    margin-bottom:30px;
}

.conteudo h2{
    margin-bottom:20px;
    font-size:32px;
    font-family: var(--title);
}


.section{
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding: 80px 10%; 

    background: var(--background-primary);
    border-bottom: #263552 0.01px solid;
}

.section h2{
    font-size:var(--title-size);
    margin: 20px 0;
}

.section p{
    font-size:18px;
    line-height:1.8;
    max-width:900px;

    padding:20px;
    border-radius:10px;
    border:1px solid rgba(77,163,255,.1);
}

.desenho{
    margin-top:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    flex-wrap:wrap;
    border-radius: 20px;
    border: solid 0.5px rgba(255, 166, 0, 0.267);
    padding: 40px;
    background-color: #03060f;

    box-shadow: 0 0 10px rgba(255, 161, 99, 0.5);
}

#latencia{
    color: rgb(240, 138, 70);
}

.marte,
.terra{
    width:160px;
    height:160px;
    border-radius:50%;
    background-size:cover;
    background-position:center;
}
.marte{
   background:
    radial-gradient(circle,
    #f59e0b,
    #8b4513);
}

.terra{
    background:
    radial-gradient(circle,
    #3b82f6,
    #1e40af);
}

.planeta{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.separador{
    display:flex;
    align-items:center;
    gap:20px;
}

.linha{
    width:120px;
    height:1px;
    background:#244d78;
}

.container{
    padding:14px 24px;
    border-radius:50px;
    background: rgba(137, 93, 3, 0.257);
    border:1px solid rgba(245, 167, 11, 0.368);
    color:orange;
}

.destaque{
    margin: 30px 0;
    padding: 20px ;
    border-left: 4px solid #4DA3FF;
    background:rgba(77, 163, 255, 0.055);
    max-width:945px;

    font-size: 24px;

}

#destaque_problema{
        color: rgb(131, 131, 131);
        background: none;
        
        #branco {
        color: white;
    }
}


.problema{
    padding:80px;
    display:flex;
    align-items:center;
}

.tag{
    padding:10px 18px;
    border-radius:99px;
    letter-spacing:2px;
    text-transform:uppercase;
    
}
.vermelha{
    border: 1px solid rgba(255,0,0,.2);
    color:#ff5f5f;
}

.tecnologia, .publico, .dia_a_dia{
    background: var(--background-secondary);
    display:flex;
    align-items:center;

}

.ciano{
    border: 1px solid rgba(20, 184, 166, 0.3);
    color:#05e6e2
}

.tech-grade{
    max-width:1200px;
    margin:40px 0 20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px, 1fr));
    gap:20px;
}

.tech-item{
    padding:35px;
    width:260px;
    text-align:center;
    border:1px solid rgba(20, 184, 165, 0.173);
    background: rgba(20, 184, 165, 0.015);
    border-radius:15px;
}

.objetivos{
    display:flex;
    align-items:center;
}

.roxo{
    border: 1px solid rgba(129, 90, 213, 0.391);
    color:#6f39ed;
}

.objetivos p{
    font-size:20px;
    line-height:1.8;
    max-width:900px;
    text-align:center;

    padding:30px;
    border-radius:5px;
    border:1px solid rgba(91, 35, 222, 0.263);
    background:rgba(9, 14, 32, 0.358);
}