@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    --background-primary: rgb(10, 22, 37);
    --background-secondary: #051224;

    --text: 'Play';
    --text-size: 18px;

    --title-size: 56px;
}