@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&display=swap');


:root{
    --background-primary: #030e25;
    --background-secondary: #051224;
    --background-sidebar: #08112100;

    --title: 'Play';
    --text: 'Exo';
    --text-size: 18px;

    --title-size: 56px;

    --background-color: #49494988;

    --border-color: #616161;


}

html.light-tema {
    --background-primary: #6494c4d1;
    --background-secondary: #48719bd1;
    --background-sidebar: #6494c4;
    --background-header: #6494c4;

    --background-card: rgba(23, 27, 44, 0.651);

    --background-barra: #2b67a3;
    --background-barra2: #b3c4d5;

    --text-color: #1d1b1b;
    --border-color: #301611;

    --background-color: #d8d8d8;
}

html.galaxy-tema {
    --background-primary: #000000;
    --background-secondary: #1b1342;
    --background-sidebar: #1a0f4700;
    --border-color: #5b23de;
    --text-color: #e0d7ff;

    --background-color: #283046b0;
}